*{
    margin: 0;
    padding: 0;
}

header{
height: 10vh;
width: 100vw;
background-color:#385898;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
.connectForm {
    display: flex;
}
.connectFormDiv {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}
.connectFormDiv label{
    font-size: 15px;
    color: #fff;
}
.connectFormDiv a{
    text-decoration: none;
    font-size: 15px;
    color: #9cb4d8;
    padding: 2px;   
}
.connectFormDiv input{
    width: 160px; 
    height: 20px; 
}
.connect{
    width: 100px; 
    height: 25px; 
    color: #fff;
    background-color: #4267b2;
    border-color: #29487d;
    border-radius: 2px;
    cursor: pointer;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    line-height: 19px;
    padding: 2px 6px;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    margin: auto 2px;
}
.connect:hover {
    background-color: #365899;
    border-color: #29487d;
}
.container{
height: 100%;
width: 70%;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;

}
img{
    height: 100%;
    width: 15%;
}
form{

}
main{
height: 70vh;
width: 100vw;
background: linear-gradient(white, #D3D8E8);
display: flex;
flex-direction: row;
}
.main-container{
height: 100%;
width: 60%;
display: flex;
justify-content: flex-end;
}
.titre {
    color: #0e385f;
    font-size: 20px;
    font-weight: bold;
    line-height: 29px;
    margin-top: 40px;
    width: 450px;
    word-spacing: -1px;
}
.entourage{
    height: 195px;
    width: 537px;
    padding-top: 20px;
}
.second-container{
    width: 20vw;
    height: 100%;
    padding-left: 100px;

}
.inscription{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.submit{
    margin-top: 10px;
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
    height: 40px;
    width: 150px;
    color: white;
    border-radius: 5px;
    font-size: 16px;
}
.submit:hover {
    border: 1px solid;
    cursor: pointer;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
}
h1{
    padding: 20px;
    text-align: left;
}
h3{
    padding: 10px;
    text-align: left;
}
p{
    font-size: 10px;
    padding: 5px;
}
input{
    border: 1px solid;
}
.input-full-with {
    border: 1px solid;
}
.semi{
    border: 1px solid;
    margin:2px;
    font-size: 18px;
    padding: 8px 10px;
    border-color: #bdc7d8;
    border-radius: 5px;
    width: 172px;
    background-color: #fff;
    position: relative;
}
.full{
    margin:2px;
    font-size: 18px;
    padding: 8px 10px;
    border-color: #bdc7d8;
    border-radius: 5px;
    width: 377px;
    background-color: #fff;
    position: relative;
}
.inputBirthday {
    margin:2px;
    font-size: 18px;
    padding: 8px 10px;
    border-color: #bdc7d8;
    border-radius: 5px;

    width: 377px;
    background-color: #fff;
    position: relative;
}
.alertImageUrl {
    position: absolute;
    background-color: rgb(190, 1, 1);
    z-index: 1;
    width:100px;
    height: 100px;
}
.divAlert {
    position: absolute;
    background-color: rgb(190, 1, 1);
    z-index: 1;
    width:100px;
    height: 100px;
}
footer{
height: 20vh;
width: 100vw;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
.footer{
    height: 80%;
    width: auto;
}
